{
	"root": true,
	"parserOptions": {
		"ecmaVersion": "latest",
		"sourceType": "module"
	},
	"plugins": ["prefer-arrow"],
	"rules": {
		"semi": [2, "always"],
		"quotes": [
			2,
			"single",
			{ "avoidEscape": true, "allowTemplateLiterals": true }
		],
		"no-var": 1,
		"prefer-arrow/prefer-arrow-functions": [
			"error",
			{
				"disallowPrototype": true,
				"singleReturnOnly": false,
				"classPropertiesAllowed": false
			}
		],
		"prefer-arrow-callback": ["error", { "allowNamedFunctions": true }],
		"func-style": ["error", "expression", { "allowArrowFunctions": true }],
		"no-multiple-empty-lines": ["error", { "max": 1, "maxBOF": 1}]
	}
}