@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

:root {
	--primary: #89b4fa;
	--boot-bg: #11111b;
	--bar-bg: #181825;
	--window-bg: #1e1e2e;
	--surface-bg: #313244;
	--text-color: #cdd6f4;
	--desktop-bg: #11111b; /* or darkest color */
	--font-family: "JetBrains Mono", monospace;
}