body, html {
    height: 100%;
    font-family: var(--font-family);
    font-weight: bold;
    font-size: 20px;
    overflow: hidden;
    background-color: var(--window-bg);
    padding:0;
    margin:0;
}

body, #box {
    display: flex;
    align-items: center;
    justify-content: center;
}

#box {
    color: #aaa;
    height: 20em;
    width: 30em;
    max-width: 80%;
    max-height: 80%;
    background-color: var(--window-bg);
    border-radius: 0.4em;
    border: 2px solid var(--surface-bg);
    position: relative;
    flex-direction: column;
    transition-duration: 0.2s;
    overflow: hidden
}

#box:hover, #box[drag] {
    border-color: var(--primary);
    color: #ddd
}

#input {
    cursor: pointer;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0
}

#display {
    width: 100%;
    height: 100%
}

select, button {
    padding: 0.6em 0.4em;
    margin: 0.5em;
    width: 15em;
    max-width: 100%;
    font-family: var(--font-family);
    font-weight: bold;
    font-size: 16px;
    background-color: #444;
    color: #aaa;
    border-radius: 0.4em;
    border: 1px solid #555;
    cursor: pointer;
    transition-duration: 0.2s
}

select:hover, button:hover {
    background-color: #666;
    color: #ddd
}

/* Hide scrollbar for Chrome, Safari and Opera */
*::-webkit-scrollbar {
	display: none;
}
  
  /* Hide scrollbar for IE, Edge and Firefox */
* {
	-ms-overflow-style: none;  /* IE and Edge */
	scrollbar-width: none;  /* Firefox */
  }