body,
html {
	background: none;
	padding: 5px;
	overflow: scroll;
	font-family: var(--font-family);
	color: var(--text-color);
	overflow-x: hidden;
	scroll-behavior: smooth;
	position: relative;
	height: calc(100% - 2.5px);
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}

input,
textarea,
form button,
select {
	padding: 5px 10px;
	border: none;
	background: var(--surface-bg);
	border-radius: 5px;
	width: 100%;
	margin: 5px 0;
	font-family: var(--font-family);
}

button,
input::file-selector-button {
	padding: 5px;
	border: none;
	background: var(--surface-bg);
	border-radius: 5px;
}

textarea {
	resize: none;
	height: 100px;
}

input:focus,
textarea:focus,
button:focus,
select:focus {
	outline: none;
}

button:hover,
select:hover,
a:hover {
	color: var(--primary);
}

input::file-selector-button {
	margin: 5px 0;
	margin-right: 10px;
	font-family: var(--font-family);
	color: var(--text-color);
	background: var(--window-bg);
}

input::file-selector-button:hover {
	color: var(--primary);
}

sub {
	opacity: 0.5;
}

table,
th,
td {
	border: 1px solid;
}

th,
td {
	padding: 5px;
}

.profile {
	border-radius: 100%;
}

.center {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

/* Hide scrollbar for Chrome, Safari and Opera */
*::-webkit-scrollbar {
	display: none;
}
  
  /* Hide scrollbar for IE, Edge and Firefox */
* {
	-ms-overflow-style: none;  /* IE and Edge */
	scrollbar-width: none;  /* Firefox */
  }