.topnav div {
	padding: 5px;
	border-radius: 5px;
	color: var(--text-color);
	display: block;
	height: 100%;
	background: var(--surface-bg);
}

.topnav a {
	text-decoration: none;
}

.topnav div a:hover {
	color: var(--primary);
}

.tabs-container {
	flex: 1;
	display: flex;
}

.topnav,
.tabs {
	display: flex;
	overflow-y: hidden;
	overflow-x: scroll;
	gap: 5px;
	margin-bottom: 5px;
	height: max-content;
	min-width: min-content;
	overflow-x: hidden;
}

.tabs > div {
	flex-shrink: 0;
}

iframe {
	width: 100%;
	height: 100%;
	border: none;
	border-radius: 10px;
}

main {
	width: 100%;
	height: calc(100% - 40px);
}
