@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

:root {
	--primary: #286983;
	--boot-bg: #faf4ed;
	--bar-bg: #fffaf3;
	--window-bg: #fffaf3;
	--surface-bg: #f2e9e1;
	--text-color: #575279;
	--desktop-bg: #faf4ed; /* or darkest color */
	--font-family: "JetBrains Mono", monospace;
}

.winbox .wb-control,
.logo {
	filter: invert(1);
}