@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

:root {
	--primary: #7dcfff;
	--boot-bg: #24283b;
	--bar-bg: #414868;
	--window-bg: #414868;
	--surface-bg: #565f89;
	--text-color: #cfc9c2;
	--desktop-bg: #24283b; /* or darkest color */
	--font-family: "JetBrains Mono", monospace;
}
